<title>待审核中的任务</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>SEO管理</cite></a>
        <a><cite>待审核的任务</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="app-content-list">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">任务编号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="id" placeholder="请输入任务编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">关键字</label>
                    <div class="layui-input-inline">
                        <input type="text" name="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">网址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" placeholder="请输入网址" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <input type="hidden" value="1" name="status" />
                <div class="layui-inline">
                    <label class="layui-form-label">搜索引擎</label>
                    <div class="layui-input-inline">
                        <select name="search_ngines">
                            <option value="">全部</option>
                            <option value="1">百度PC</option>
                            <option value="2">百度移动</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>查询
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <div class="layui-tab" lay-filter="shenhe_status">
                <ul class="layui-tab-title" >
                    <li data-type="" class="layui-this">全部</li>
                    <li data-type="0">待审核</li>
                    <li data-type="2">被拒绝</li>
                </ul>
                <div class="layui-tab-content">

                    <div class="layui-tab-item layui-show">
                        <table id="LAY-app-task-shenhe" lay-filter="LAY-app-task-shenhe"></table>
                    </div>

                </div>
            </div>
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
            </div>
            <script type="text/html" id="fptTpl">
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="ftpHost"></i>管理</a>
            </script>
            <script type="text/html" id="buttonTpl">
                {{#  if(d.shenhe_status ==2){ }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">被拒绝</button>
                {{#  } else if(d.shenhe_status ==0) { }}
                <button class="layui-btn layui-btn-xs">待审核</button>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<script>
    layui.use('tasklist', layui.factory('tasklist')).use(['admin', 'tasklist', 'table','setter','element'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table = layui.table
            ,setter = layui.setter
            ,request = setter.request
            ,element = layui.element
            , form = layui.form;


        form.render(null, 'app-content-list');
        //监听选项卡
        element.on('tab(shenhe_status)', function(data){
            console.log(this); //当前Tab标题所在的原始DOM元素
            var _status = $(this).data('type');
            table.reload('LAY-app-task-shenhe', {
                where: {shenhe_status:_status,status:0}
            });
        });
        //监听搜索
        form.on('submit(LAY-app-contlist-search)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('LAY-app-task-shenhe', {
                where: field
            });
        });

        var active = {
            batchdel: function () {
                var checkStatus = table.checkStatus('LAY-app-content-list')
                    , checkData = checkStatus.data; //得到选中的数据

                if (checkData.length === 0) {
                    return layer.msg('请选择数据');
                }

                layer.confirm('确定删除吗？', function (index) {

                    //执行 Ajax 后重载
                    /*
                    admin.req({
                      url: 'xxx'
                      //,……
                    });
                    */
                    table.reload('LAY-app-content-list');
                    layer.msg('已删除');
                });
            }

            //添加
            , add: function (othis) {
                admin.popup({
                    title: '添加文章'
                    , area: ['550px', '550px']
                    , id: 'LAY-popup-content-add'
                    , success: function (layero, index) {
                        view(this.id).render('app/content/listform').done(function () {
                            form.render(null, 'layuiadmin-app-form-list');

                            //监听提交
                            form.on('submit(layuiadmin-app-form-submit)', function (data) {
                                var field = data.field; //获取提交的字段

                                //提交 Ajax 成功后，关闭当前弹层并重载表格
                                //$.ajax({});
                                layui.table.reload('LAY-app-content-list'); //重载表格
                                layer.close(index); //执行关闭
                            });
                        });
                    }
                });
            }
        };

        $('.layui-btn.layuiadmin-btn-list').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

    });
</script>