
<title>实名认证</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>个人中心</cite></a>
        <a><cite>实名认证</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">实名认证</div>
                <div class="layui-card-body" pad15>
                    <blockquote class="layui-elem-quote" style="background-color: #ffffff">
                        请完善您的资料，方便我们对您有更好的服务！
                    </blockquote>
                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">我的积分</label>
                            <div class="layui-input-inline">
                                <span class="layui-bg-orange" style="padding: 10px 20px;font-size: 24px;border-radius:5px;">20积分</span>
                            </div>
                            <div class="layui-form-mid layui-word-aux">获得积分?</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">会员账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" value="xianxin" readonly class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nickname" value="贤心" lay-verify="nickname"  autocomplete="off" placeholder="请输入昵称" class="layui-input">
                            </div>
                        </div>
                        <!--<div class="layui-form-item">-->
                        <!--<label class="layui-form-label">性别</label>-->
                        <!--<div class="layui-input-block">-->
                        <!--<input type="radio" name="sex" value="男" title="男">-->
                        <!--<input type="radio" name="sex" value="女" title="女" checked>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="layui-form-item">-->
                        <!--<label class="layui-form-label">头像</label>-->
                        <!--<div class="layui-input-inline">-->
                        <!--<input name="avatar" lay-verify="required" id="LAY_avatarSrc" placeholder="图片地址" value="http://cdn.layui.com/avatar/168.jpg" class="layui-input">-->
                        <!--</div>-->
                        <!--<div class="layui-input-inline layui-btn-container" style="width: auto;">-->
                        <!--<button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">-->
                        <!--<i class="layui-icon">&#xe67c;</i>上传图片-->
                        <!--</button>-->
                        <!--<button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button >-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                                <input type="text" name="mobile" value="" lay-verify="phone"  autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请认真填写，填写后不可修改</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" value="" lay-verify="email" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请认真填写，填写后不可修改</div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">联系人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="contacts" value="" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">请认真填写，填写后不可修改</div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">QQ号码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="qq_number" value="" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">公司名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="company_name" value="" lay-verify="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">认证信息</label>
                            <div class="layui-input-block">
                                <a class="layui-btn layui-btn layui-btn-disabled"><i class="layui-icon layui-icon-auz"></i> 个人认证</a>
                                <a class="layui-btn layui-btn layui-btn-disabled"><i class="layui-icon layui-icon-auz"></i> 企业认证</a>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('set', layui.factory('set'));
</script>